.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.empty-container {
  margin: auto;
  width: 50%;
  padding: 10px;
  max-width: 300px;
  text-align: center;
  background-color: salmon;
  border: 2px solid red;
  border-radius: 5px;
  padding: 35px 0;
}


.button {
  width: 300px;
}

.card {
  max-width: 400px;
  margin: 30px;
}
