<mat-toolbar color="primary">
  <button mat-button (click)="returnToHome()">Online Prodavnica Mobitela</button>
  <button mat-button (click)="onEditPhones()" *ngIf="userEmail === 'mahir@mehinovic.com'">Uredi telefone</button>
  <span class="padding-spacer"></span>
  <span class="spacer"></span>
  <button mat-button (click)="goToLogin()" *ngIf="!isAuthenticated">Prijava | Registracija</button>
  <button mat-button (click)="onLogout()" *ngIf="isAuthenticated">Odjava</button>
  <button mat-button
  (click)="goToAccount()"
  *ngIf="isAuthenticated">
    {{ userEmail }}
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="goToCart()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
